<div>
    <h1>Calcular la distancia entre dos puntos</h1>
    <form [formGroup]="formulario">

        <div>
            <label>X1 (Punto A): </label>
            <input formControlName="x1" type="number">
        </div>

        <div>
            <label>Y1 (Punto A): </label>
            <input formControlName="y1" type="number">
        </div>

        <div>
            <label>X2 (Punto B): </label>
            <input formControlName="x2" type="number">
        </div>

        <div>
            <label>Y2 (Punto B): </label>
            <input formControlName="y2" type="number">
        </div>

        <button (click)="calcularDistancia()">Calcular Distancia</button>

        <h3>La distancia es: {{resultado}}</h3>
    </form>
</div>
